button{
  all: unset;
}

$size-primary-round: 3rem;
button.primary-round{
  min-width: $size-primary-round;
  width: $size-primary-round;
  min-height: $size-primary-round;
  height: $size-primary-round;
  transform-origin: center;
  background: beige;
  color: #87CEEB;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;

  *{
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
  }

  &:hover{
    scale: 1.2;
  }

  &:disabled{
    scale: 0.7;
    opacity: 0.5;
  }
}
