body{
  cursor: none;
}

#cursor{
  width: 2rem;
  height: 2rem;
  transition: background-color 0.1s ease-in-out, width 0.1s ease-in-out, height 0.1s ease-in-out;
  background-color: rgb(255, 227, 194);
  position: absolute;
  translate: -50% -50%;
  z-index: 9999;
  border-radius: 50%;
  pointer-events: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.bad_click{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0003;
  }

  &.hover{
    width: 1.3rem;
    height: 1.3rem;
    background-color: rgb(255, 149, 103);

    &.good_click{
      width: 0.5rem;
      height: 0.5rem;
      background-color: rgb(255, 103, 103);
    }
  }


}
