@font-face {
  font-family: "Fraunces";
  src: url("../assets/fonts/Fraunces.woff2  ");
}

h1.title{
  font-family: "Fraunces";
  font-size: 4rem;
  text-align: center;
}



/* Style de base pour toutes les tailles d'écran */
html {
  font-size: 16px; /* Taille initiale du texte en pixels */
}

/* Media query pour les petits écrans (par exemple, les smartphones en mode portrait) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 10px; /* Ajustez la taille du texte pour les petits écrans */
  }
}

/* Media query pour les écrans de taille moyenne (par exemple, tablettes) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  html {
    font-size: 18px; /* Ajustez la taille du texte pour les écrans de taille moyenne */
  }
}

/* Media query pour les grands écrans (par exemple, ordinateurs de bureau) */
@media only screen and (min-width: 1025px) {
  html {
    font-size: 24px; /* Ajustez la taille du texte pour les grands écrans */
  }
}
