$sky-height: 60vh;
$water-height: 140vh;
$wave-width: 33.33vw;

.container{
  position: fixed;
  top: 0;
  transition: 2s;
  width: 100vw;

  &.under-water{
    top: calc(-1 * 100vh);
  }

  .sky-container{
    height: $sky-height;
    background: #87CEEB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0 2rem 4rem 2rem;
    gap: 3rem;

    .title{
      width: 30rem;
      color: #FFF;
      font-variation-settings: "wght" 700;
      transition: 0.1s cubic-bezier(.17,.67,1,-0.02);
      overflow-y: hidden;
      transform-origin: 50% 50%;

      &.switching-back{
        font-variation-settings: "wght" 100;
      }

      &.switching-next{
        font-variation-settings: "wght" 100;
      }


    }
  }

  .waves-container{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
    top: 60vh;
    transform: translateY(-50%);
    backdrop-filter: blur(5px);

    &.fast{
      .wave-container{
        animation: wave 2s ease-in-out infinite forwards;
      }

      .boat{
        transform: translateX(100%);
        rotate: -5deg;
      }
    }

    .wave-container{
      position: relative;

      .wave{
        min-width: 33.33vw;
        height: auto;
        margin-left: -1px;
        animation: wave 7s linear infinite forwards;
      }
    }

    .boat{
      position: absolute;
      object-fit: contain;
      width: 5rem;
      height: 5rem;
      left: 33vw;
      z-index: 1;
      transform-origin: 0% 100%;
      animation: boat-jerk 2s infinite alternate ease;
      bottom: 33%;
      filter: drop-shadow(0 0 3px #0003);
      transition: rotate 0.7s ease-out, transform 3s ease-in  ;
    }
  }
  .water-container{
    height: $water-height;
    position: relative;
    display: flex;
    flex-direction: column;

    .sea{
      background: linear-gradient(0deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 13%, #399fed 100%);
      height: 100%;
      width: 100%;
    }

    .go-under-water-button{
      position: absolute;
      font-size: 1.5rem;
      color: #FFF;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Fraunces";
      align-self: center;
      top: 20vh;
      transform: translateY(-30%);
      z-index: 5;
      font-weight: 900;

      mat-icon{
        font-size: 4rem;
        width: 4rem;
        height: 4rem;
      }
    }

    .go-on-water-button{
      position: absolute;
      font-size: 1.5rem;
      color: #FFF;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Fraunces";
      align-self: center;
      top: 60vh;
      transform: translateY(-70%);
      z-index: 5;
      font-weight: 900;

      mat-icon{
        font-size: 4rem;
        width: 4rem;
        height: 4rem;
      }
    }

    .bubble-container{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;

      .bubble{
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #FFF;
        animation: rise 5s ease-in infinite, move 5s linear infinite;
        left: random(100) + vw;
        transform-origin: center;
      }
    }
  }
}

@keyframes wave {
  from{
    translate: 0 0;
  }
  to{
    translate: -100vw 0;
  }
}

@keyframes boat-jerk {
  from{
    translate: 0 -0.3rem;
  }
  to{
    translate: 0 0.3rem;
  }
}

@keyframes rise {
  from {
    bottom: 0;
    opacity: 0.2;
  }
  to {
    bottom: 100%;
    opacity: 0;
    scale: 1.8;
  }
}

@keyframes text-appears {
  0%{
    font-variation-settings: "wght" 400;
  }
  70%{
    font-variation-settings: "wght" 900;
  }
  100%{
    font-variation-settings: "wght" 700;
  }
}
