<div class="container" [class.under-water]="isUnderWater">
  <div class="sky-container">
    <button class="primary-round" clickable (click)="goToBackElement()" [disabled]="currentProjectIndex <= 0"><mat-icon *ngIf="!(currentProjectIndex <= 0)">navigate_before</mat-icon></button>
    <h1 class="title" [class.switching-back]="isProjectSwitchingBack" [class.switching-next]="isProjectSwitchingNext">{{ projects[currentProjectIndex].name }}</h1>
    <button class="primary-round" clickable (click)="goToNextElement()" [disabled]="currentProjectIndex >= projects.length - 1"><mat-icon *ngIf="!(currentProjectIndex >= projects.length - 1)">navigate_next</mat-icon></button>
  </div>
  <div class="waves-container" [class.fast]="isSpeeding">
    <img src="../../../assets/vectorials/boat.png" alt="Bateau" class="boat">
    <div class="wave-container" ><img class="wave" src="../../../assets/vectorials/wave.svg"></div>
    <div class="wave-container" ><img class="wave" src="../../../assets/vectorials/wave.svg"></div>
    <div class="wave-container" ><img class="wave" src="../../../assets/vectorials/wave.svg"></div>
    <div class="wave-container" ><img class="wave" src="../../../assets/vectorials/wave.svg"></div>
    <div class="wave-container" ><img class="wave" src="../../../assets/vectorials/wave.svg"></div>
    <div class="wave-container" ><img class="wave" src="../../../assets/vectorials/wave.svg"></div>
    <div class="wave-container" ><img class="wave" src="../../../assets/vectorials/wave.svg"></div>
    <div class="wave-container" ><img class="wave" src="../../../assets/vectorials/wave.svg"></div>
    <div class="wave-container" ><img class="wave" src="../../../assets/vectorials/wave.svg"></div>
    <div class="wave-container" ><img class="wave" src="../../../assets/vectorials/wave.svg"></div>
    <div class="wave-container" ><img class="wave" src="../../../assets/vectorials/wave.svg"></div>
    <div class="wave-container" ><img class="wave" src="../../../assets/vectorials/wave.svg"></div>
    <div class="wave-container" ><img class="wave" src="../../../assets/vectorials/wave.svg"></div>
    <div class="wave-container" ><img class="wave" src="../../../assets/vectorials/wave.svg"></div>
    <div class="wave-container" ><img class="wave" src="../../../assets/vectorials/wave.svg"></div>
    <div class="wave-container" ><img class="wave" src="../../../assets/vectorials/wave.svg"></div>
  </div>
  <div class="water-container">
    <div class="sea"></div>
    <button class="go-under-water-button" clickable (click)="goUnderWater()">
      En savoir plus
      <mat-icon>arrow_downward</mat-icon>
    </button>
    <button class="go-on-water-button" clickable (click)="goOnWater()">
      <mat-icon>arrow_upward</mat-icon>
      Remonter à la surface
    </button>
    <div class="bubble-container" #bubbleContainer>
      <div class="bubble" #bubble></div>
    </div>
  </div>
</div>
