<router-outlet></router-outlet>
<div id="cursor" [class.hover]="cursorService.hovered" [class.good_click]="cursorService.hovered && cursorService.clicked" [class.bad_click]="!cursorService.hovered && cursorService.clicked">
  <mat-icon *ngIf="!cursorService.hovered && cursorService.clicked">close</mat-icon>
</div>
